select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select:focus {
    outline: none;
}

.sudoku-board{
    display: grid;
    width: min-content;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(3, min-content);
    background-color: black;
    border: 2px solid black;
}

.board-subsquare {
    margin: 0;
    display: grid;
    width: min-content;
    grid-template-rows: repeat(3, 3rem);
    grid-template-columns: repeat(3, 3rem);
    gap: 1px;
    background-color: black;
    border: 2px solid black;
}

.board-item {
    margin: 0;
    background-color: white;
    border: 0 solid;
    text-align: center;
}
